[submodule "external/devops"]
	path = external/devops
	url = https://github.com/97gamjak/devops.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/mstd"]
	path = external/mstd
	url = https://github.com/97gamjak/mstd
