name: Static Analysis

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cppcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install cppcheck
        run: |
          sudo apt update
          sudo apt install -y cppcheck

      - name: Run cppcheck
        run: |
          cppcheck --enable=all \
              --enable=performance \
              --enable=style \
              --enable=information \
              --enable=portability \
              --error-exitcode=1 \
              --suppressions-list=.cppcheck.suppress \
              --suppress=missingIncludeSystem \
              --inline-suppr \
              --inconclusive \
              -I include \
              src

  clang-tidy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: 'pip'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e external/devops

      - name: Install clang-tidy and dependencies
        run: |
          cpp_checks --dirs src